<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to  "All Cocktails", cocktails_path, class:"btn btn-success" %>
      </li>
      <% if params[:controller] == "cocktails" && params[:action] == "show" %>
      <li class="nav-item">
         <%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail), class: "btn btn-primary"  %> 
      </li>
      <% end  %>
      
        </div>
    </ul>
  </div>
</div>

    <%= yield %>
  </body>
</html>
